/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }

  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }


  /*Header style start*/

  .wrapper {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .wrapper__full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    height: 60px;
    z-index: 999;
    background: #fff;
    width:100%;  
  }
  .header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
  }
  .wrapper__hed{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header_active{
    
    background-color:rgba(252, 247, 247, 0.8);
  }
  .header__nav{
    display: flex;
  }
  .header__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 42px;
    align-items: center;
  }
  .header__item {
    margin-right: 42px;
    list-style-type: none; 
  }
  .tel{
   width:173px;
   height:46px;
   background: #081158;
   border-radius: 6px;
   
  }
  .tel:hover{
    background: #000000;
    cursor: pointer;
    
   }
  .tel__header{
    text-decoration: none;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
  }
.header__item:last-child{
  margin-right: 0;
}
.header__link{
  font-size: 14px;
  line-height: 22px;
  color: #081158;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
}

.header__link:hover, .header__link:focus, .header__link:active{
 color: #EC8675;
}

 .header__burger{
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
 }
 .burger__line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #081158;
  position: absolute;
  left: 0;
 }
 .burger__line_first{
  top: 0;
 }
 .burger__line_second{
  top: 50%;
  transform: translateY(-50%);
 }
 .burger__line_third{
  bottom: 0;
 }

/*Header style end*/



/*Intro style start*/
.intro {
  height: 895px;
  padding-top:90px;
  background: #EEF0F4;
}
.wrapper__1{
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
.intro__title__1{
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color:#081158;
}
.intro__title__2{
  font-family: 'Permanent Marker', cursive;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 22px;
color:#081158;
line-height: 1.5;
}
.intro__subtitle{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 62px;
line-height: 69px;
color: #081158;
margin: 0;
}
.intro__p__p{
  max-width: 546px;
  color: white;
  font-size: 26px;
  line-height: 24px;
  font-family: 'Capture it', arial;
}
.intro__button{
  width: 214px;
  height: 62px;
  background: #081158;
  border-radius: 6px;
  margin-top: 30px;
}
.intro__button:hover{
  background: #000000;
  cursor: pointer;
}
.intro__button__title{
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
}
.block__intro{
  text-decoration: center;
}
.name__intro{
font-family: 'Permanent Marker', cursive;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 70px;
letter-spacing: 1px;
color: #8EA5A0;
margin:0;
}

.intro__wrapper{
  display: flex;
  gap:40px
}
.img__intro-pic{
border: 3px solid #081158;
}


@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/*Intro style end*/


/*Record start*/
.record {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.record_p {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 69px;
color: #081158;
}
.record_img {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.record__img__pic {
  width: 550px;
  border: 3px solid #081158;
}
.record__img__pic2 {
  width: 550px;
  border: 3px solid #081158;
}

/*Record end*/

/*Body start*/
.body {
  height: 630px;
}
.body__h2{
  margin: 0;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 69px;
color: #081158;
}
.body__container{
  padding-top: 120px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.body__wrapper {
  max-width: 1440px;
  height: 1508px;
  margin: 0 auto;
}
.body_img{
  width: 300px;
  height: 300px;
  border: 3px solid #081158;
}
.card_body{
  /*display: grid;
  grid-template-rows: 420px 420px;
  grid-template-columns: 300px 300px;
  row-gap: 50px;
  column-gap: 50px;*/
  display: flex;
  justify-content: center;
  gap: 40px;
}

.body__cards{
  width: 100%;
  max-width: 450px; /* опционально */
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.body__cards:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.body__cards img {
  display: block;
  width: 100%; /* ширина картинки */
  /*height: 100%;  высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.body__cards .block__title__body {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.body__cards .block__title__body span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.body__cards .block__title__body .body__cards__p {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.body__cards .block__title__body .body__p {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.body__cards:focus:before,
.body__cards:focus span, .body__cards:hover:before,
.body__cards:hover span {
  opacity: 1;
}
.body__cards:focus:before, .body__cards:hover:before {
  top: 50%;
}
.body__cards:focus span, .body__cards:hover span {
  top: 0;
}
.body__cards:focus .body__cards__p, .body__cards:hover .body__cards__p {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.body__cards:focus .body__p , .body__cards:hover .body__p  {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}


/*.body__cards{
  max-width: 300px;
}*/
.body__cards__p{
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color:#fafafc;
  display: flex;
  justify-content: center;
}
.body__p{
  font-family: 'Permanent Marker', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color:#fcfcff;
  line-height: 1.5;
}
/*Body end*/


/*Container style start*/
.container{
  margin-top:100px;
  background: #EEF0F4;

}
.container__cards{
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-gap:40px;
}

.card__pic{
  border: 3px solid #081158;
  width: 450px;
  height: 300px;
  background: black;
}
.training__title__one{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 69px;
color: #081158;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}
.training__title__two{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 69px;
color: #081158;
  display: flex;
  justify-content: center;
}
.training__title__three{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 69px;
color: #081158;
  display: flex;
  justify-content: center;
}
.title__pic{
  text-decoration: none;
  color: #fff;
  position: relative;
  bottom:100px;
  left: 20px;
  font-size: 25px;
  font-weight:700;
  font-family: 'Capture it', arial;
}
.card:hover{
  transform: scale(1.05);
}
/*Container style end*/




/*Benefits style start*/
.benefits{
  margin-bottom: 100px; 
}
.benefits__wrap{
  max-width: 1262px;
  background-color: #FFFFFF;
  margin:  0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
  background-color:#F1E6DA;
  
}
.benefits__title{
  width: 100%;
  font-weight: 500;
  font-size: 45px;
  line-height: 42px;
  padding: 83px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-110%);
  background-color: #F1E6DA;
  color: #000;
  font-family: 'Capture it', arial;
}
.benefits__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding:30px 100px 0px 100px;
  
}
.benefits__card{
  grid-column:span 1;
  margin-bottom: 112px;
}
.benefits__card-pic{
  max-width: 66px;
  margin-left:120px;
  margin-top: 10px;
  
}
.benefits__card-thumb{
  display: flex;
}
.benefits__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
  color: #FFFF;
  font-family: 'Capture it', arial;
}
.benefits__card-desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 29px;
  color: #FFFF;
  font-family: 'Capture it', arial;
}
.benefits__card-more{
  font-size: 16px;
  line-height: 24px;
  color: #FFFF;
  text-decoration: none;
  font-family: 'Capture it', arial;
} 
.benefits__card-more:hover{
 color: black;
}
.cards__1{
background: linear-gradient(45deg, #6C26FE, #6E41CF);
border-radius: 20px;
display: wrap;
text-align: center;
}
.cards__2{  
  background: linear-gradient(45deg, #8CDA0E, #AFFD2E);
  border-radius: 20px;
  display: wrap;
text-align: center;
}
.cards__3{ 
background: linear-gradient(45deg, #D96B0D, #FF542F);
border-radius: 20px;
display: wrap;
text-align: center;
}
.cards__1:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.cards__2:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.cards__3:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
}
/*Benefits style end*/

/*Places style start*/
.places {
  
  background: #FFFFFF ;
  height: 1100px;
}

.places__title{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 69px;
color: #081158;
  padding-top: 120px;
  margin-top: 0;
}


.places__cards{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}


.places__card{
  position: relative;
  overflow: hidden;
  border: 3px solid #081158;
}
.places__card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic{
  transform: scale(1.05);
}
.places__card_size_lg{
  grid-column: span 3;
  margin: 0 auto;
}
.places__card-pic{
 width: 100%;
transition: .15s all;
}

.places__card-pic_size_lg{
  object-fit: cover;
  height: 100%;
}
.places__card-pic_size_sm{
  object-fit: cover;
  height: 100%;
  
  
}
.places__card-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.places__card_size_sm{
 grid-column: span 2;
 margin: 0 auto;
}
  
/*Places style end*/







/*marathon style start*/
.marathon{
    height: 1200px;
    background: #EEF0F4;
   padding-top: 60px;
   
}
.marathon__wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.marathon__title{
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 22px;
  color:#081158;
  line-height: 1.5;
}

.title__yah{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 69px;
color: #081158;
  display: flex;
  justify-content: center;
}
.title_par{
  font-family: 'Permanent Marker', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color:#081158;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}
.block{
    border: 1px  solid;
    border-radius: 20px;
    background: #081158;
    height: 120px;
    padding-left: 20px;
    padding-top: 5px;
}
.block__item__one{
    color: #EFCD80;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.block__pic{
    width: 500px;
    border: 3px solid #081158;
    margin-top: 20px;
    
}
.block__item__two{
    position: relative;
    bottom: 120px;
    padding-left: 20px;
    color: #EFCD80;
    font-size: 30px;
}
.block__pic:hover{
    transform: scale(1.02);
  }
.block:hover{
    transform: scale(1.02);
}
.block__flex{
    display: flex;
    gap: 30px;
    height: 400px;
}
.block__item{
    display: flex;
    gap: 30px;
    margin-top: -30px;
}
.block__title{
    width: 500px;
    background: #081158;
    border: 3px solid #081158;
   height: 300px;
}
.title__p{
    position: relative;
    left: 20px;
    top: 180px;
    color: #EFCD80;
    font-size: 30px;
}
.block__title:hover{
    transform: scale(1.02);
  }
/*marathon style end*/


.form__intro {
  display: flex;
  vertical-align: text-top;
}
.form_fitness{
   height: 600px;
   padding-top: 100px;
}
.title__form{
  color: #000;
  font-family: 'Capture it', arial;
}
.intro__button{
  color: #FFFF;
}
.type-1,.type-2,.type-3 {
  padding:10px;
  box-shadow:0 0 15px 4px rgba(16, 26, 217, 0.06);
  width: 500px;
  margin-top: 10px;
}
.strong__int {
  font-family: 'Permanent Marker', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 22px;
  color:#081158;
  line-height: 1.5;
}
/*Footer style start*/
.footer{
  
  max-width: 100%;
  margin: 0 auto;
  background-color: #EEF0F4;
  
  background-repeat: repeat-x;
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 12px 12px;
}
.wrapper__footer{
  max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
    height: 250px;
}


.footer__item{
  display: flex;
  justify-content: center;
  gap: 300px;
}
.footer__logo{
  width:20% ;
}
.footer__nav{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
 
}
.footer__menu-link{
 text-decoration: none;
 font-family: 'Permanent Marker', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 22px;
  color:#8EA5A0;
  line-height: 1.5;
 
}
.footer__menu-item{
  list-style-type: none;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
  color: #F1A02D;
 }

.form{
  display: flex;
  justify-content: center;
  gap:50px;
}
.type-4{
  width: 500px;
}
.form__intro__f{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.title__form{
  font-size: 40px;
}
/*Footer style end*/

/*Media start*/

@media screen and (max-width: 767px) {
  .header__burger{
    display: block;
  }
  .header__nav{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #797676;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: .2s all linear;
  }
  .header__nav_action{
    transform: translateX(0);
  }
  .header__item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child{
    margin-bottom: 0;
  }
  .header__link{
    font-size: 42px;
    line-height: 48px;
  }
  .header__nav-close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line{
    display: block;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    width: 100%;
    
  }
  .header__nav-close-line:first-child{
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child{
    transform: translateY(-50%) rotate(-45deg);
  }
}

@media screen and (max-width: 767px) {
  
  .footer__logo{
    width: 100%;
    margin-bottom: 24px;
   }
   .footer__nav{
    width: 100%;

   }
   .footer__menu{
    width: 50%;
    margin-bottom: 24px;
   }
  .benefits__cards{
    padding: 30px 15px 0px 15px;
    grid-column-gap: 35px;
      
  }
  .benefits__title{
    padding-left: 20px;
  }
}

/*Media end*/

